<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.overlaydemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:label="OverlayDemo" android:icon="@mipmap/ic_launcher">
        <service android:name=".OverlayService" android:exported="false"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
